<%= form_with(model: @inventory) do |f| %>
    <div>
      <%= f.label :name, class: "d-block" %>
      <%= f.text_field :name %>
    </div>
    
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  