
<div class="">
  <div class="row g-0">
    <div class="col-4">
      <h2 class="card-text"><%= inventory.name %></h2>
    </div>
    <div class="col-8">
      <div class="card-body">
        <p class="card-text fs-3"><%= inventory.description %></p>
      </div>
    </div>
  </div>
</div>
