<div class="container">
  <div class="row p-3">
    <h2 class="col">Inventories</h2>
    <div class="col text-end">
      <%= link_to "Add New Inventory", new_inventory_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <% @inventories.each do |inventory| %>
    <div class="card m-3 ps-5 p-3">
      <%= link_to inventory, class: "no-link" do %>
        <%= render partial: 'inventory', locals: { inventory: inventory } %>
      <% end %>
      <% unless inventory.user == !current_user %>
        <div><%= link_to "REMOVE", inventory_path(inventory), data: { turbo_method: :delete }, class: "fs-4" %></div>
      <% end %>
    </div>
  <% end %>
</div>
