<div class='container'>
  <div class="text-end m-3">
    <%= link_to 'Add Recipes', new_recipe_path, class: "btn btn-outline-secondary" %>
  </div>
  <div>
    <%if @recipes.present?%>
        <ul id='recipes_list'>
        <% @recipes.each_with_index do |recipe, index| %>
            <li class="all_recipes">
                <%= render partial: "partials/recipe_item", locals: { recipe: recipe, index:index } %>
            </li>
        <% end %>
        </ul>
    <%else%>
        <%='No recipes'%>
    <%end%>
  </div>
</div>